# SQLite

SQLite is a c-languege library that implemetns a serverless SQL database engine. To module to implement this is called `Sqlite3`. it can be used to create database or connect to existing ones where it can be used to execute commands.

## Supported data types

| Python type | SQLite type |
|-------------|-------------|
| none        | NULL        |
| int	        | INTEGER     |
| float	      | REAL        |
| str	        | TEXT        |
| bytes	      | BLOB        |

## Creating the database

In [1]:
import sqlite3

connection = sqlite3.connect('database.db')

If the database does not exist, the database.db file will be created automatically in the current directory. If you want to specify a directory, do the following thing:

In [24]:
connection = sqlite3.connect(r'Artifacts/database.db')

you can also add the parameter `:memory` to create the database in ram.

The data model from the [topic](https://hyperskill.org/learn/step/17163) will be recreated through out.

Once you have a connection, you can create a cursor object and call its execute() method, which allows us to execute SQL statements:

In [25]:
cursor = connection.cursor()

In [9]:
try:
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Department(
            id INTEGER PRIMARY KEY,
            name TEXT
        );
    """)
except Exception as e:
    print("Error: ", e)

In [10]:
try:
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Student(
            id INTEGER PRIMARY KEY,
            full_name TEXT,
            email TEXT,
            gpa REAL,
            department INTEGER,
            FOREIGN KEY (department) REFERENCES Department(id)
        );
    """)
except Exception as e:
    print("Error: ", e)

## Adding data

if execute multiple times the departments will be added several times

In [18]:
cursor.execute("""INSERT INTO Department(name) VALUES ('Engineering')""")
cursor.execute("""INSERT INTO Department(name) VALUES ('Mathematics')""")
connection.commit()  # saves the changes

In [20]:
try:
    new_department = (45, 'Physics')
    cursor.execute("INSERT INTO Department(id, name) VALUES (?, ?)", new_department)
    connection.commit()  # saves the changes
except Exception as e:
    print("Error: ", e)

Error:  UNIQUE constraint failed: Department.id

In [21]:
students_list = [
    (1, 'Alan Turing', 'alan@mail.com', 9.5, 1),
    (2, 'Katherine Johnson', 'katherine@mail.com', 10.0, 2),
    (3, 'Helen Quinn', 'helen@mail.com', 8.7, 45),
]

# Use executemany() to insert multiple records at the same time
cursor.executemany('INSERT INTO Student VALUES (?, ?, ?, ?, ?)', students_list)

## Reading data

In [26]:
cursor.execute("SELECT * FROM Student;")
one_row = cursor.fetchone()
one_row

(1, 'Alan Turing', 'alan@mail.com', 9.5, 1)

In [27]:
cursor.execute("SELECT * FROM student;")
two_rows = cursor.fetchmany(2)
print(two_rows)

[(1, 'Alan Turing', 'alan@mail.com', 9.5, 1), (2, 'Katherine Johnson', 'katherine@mail.com', 10.0, 2)]

In [28]:
cursor.execute("SELECT * FROM student;")
all_rows = cursor.fetchall()
print(all_rows)

[(1, 'Alan Turing', 'alan@mail.com', 9.5, 1), (2, 'Katherine Johnson', 'katherine@mail.com', 10.0, 2), (3, 'Helen Quinn', 'helen@mail.com', 8.7, 45)]

In [29]:
average_gpa = (9.5 + 10 + 8.7) / 3
cursor.execute("SELECT * FROM student WHERE gpa >= ?", (average_gpa,))
all_rows = cursor.fetchall()

for student in all_rows:
    print(student[1])

Alan Turing
Katherine Johnson

## Clossing the connection

In [ ]:
connection.commit()

In [23]:
cursor.close()
connection.close()